* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #0e0e0e, #1c1c1c);
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 2rem;
}

h1 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3;
}

h1 span {
  font-weight: 300;
  font-size: 1.2rem;
  color: #ccc;
  display: block;
  margin-bottom: 0.3rem;
}

.inline-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.text-box {
  flex: 2;
  margin-bottom: 0.5rem;
}

.desc {
  font-size: 0.85rem;
  color: #ccc;
  line-height: 1.5;
}

.desc em {
  font-style: italic;
  color: #ddd;
}

.info-inline {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  font-size: 0.6rem;
  line-height: 1.4;
}

.info-inline > div {
  min-width: 80px;
  max-width: 100px;
  text-align: left;
  padding-left: 10px;
  color: #bbb;
}

.info-inline strong {
  display: block;
  font-weight: 600;
  color: white;
  margin-bottom: 0.2rem;
  font-size: 0.7rem;
}

.tools img {
  width: 16px;
  margin: 1px;
  vertical-align: middle;
}

.image-section {
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.left-img {
  width: 55%;
  height: auto;
  max-height: 280px;
  border-radius: 1.2rem;
  object-fit: cover;
}

.right-img {
  width: 40%;
  height: 280px;
  border-radius: 1.2rem;
  background-color: #d0d0d0;
}
